@model IEnumerable<FlyBuy.Models.Rating>

@{
    ViewData["Title"] = "Index";
}

<div class="body bodyTable">
    <h2 class="Orders"><a class="btn-form">All ratings</a></h2>
    <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Rate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Time)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr id="productCard@(item.Id)">
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            <a id="@item.Id" class="del-btn"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
            }
                </tbody>
        </table>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
$(function() {
    $(".del-btn").click(function () {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this user!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) 
                {
                    var element = $(this);
                    var del_id = element.attr("id");
                    var info = "id=" + del_id;
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Delete")",
                        data: {id : del_id},
                        success: function (data) {
                            if (data) {
                                $("#productCard" + del_id).fadeOut();
                            } else {
                                alert("Record can't be deleted!");
                            }
                        }
                    });
                    swal("User has been deleted!", 
                    {
                      icon: "success",
                    });
                } 
                else 
                {
                    swal("Record is safe!");
                }
            });
            return false;
    });
});
</script>