@model FlyBuy.Models.ContactUs

@{
    ViewData["Title"] = "Home Page";
}

 <div class="header">

    <div class="container">

        <div class="text">
            <h1>Give your <span class="element"></span></h1>
            <p>
                Millions of the world's most successful brands trust FlyBuy to sell, ship and process payments anywhere.
            </p>
            <a href="/Account/Register" class="btn">&#8592; Shop Mens </a>
            <a href="/Account/Register" class="btn">Shop Womens &#8594;</a>
        </div>

    </div>

    <div id="slider">

        <figure>
            <img src="~/Images/Header/cute-young-girl-with-dark-wavy-hairstyle-bright-makeup-silk-dress-black-jacket-holding-sunglasses-hands-looking-away-against-beige-building-wall.jpg">
            <img src="~/Images/Header/business-man-coat-talking-phone-outside.jpg">
            <img src="~/Images/Header/trendy-woman-with-wavy-hairstyle-red-lips-posing-outside-brunette-woman-dark-jacket-glasses-looks-away-outdoors.jpg">
            <img src="~/Images/Header/young-handsome-bearded-man.jpg">
        </figure>

    </div>

    <video src="~/Videos/production ID_4650064.mp4" muted loop autoplay class="video"></video>

</div>

<div class="backgound" id="background">

    <div class="small-container small-container-homePage ">

        <h2 class="title">Latest Products</h2>

        <div class="row">

            @foreach (var item in ViewData["LatestProducts"] as  List<Product>)
            {
                <div class="col-4">
                    <a asp-action="ProductDetail" asp-controller="Home" asp-route-id="@item.Id"><img src="/Images/Products/@item.Image"></a>
                    <h4>@item.Name</h4>
                    <p>@item.Price.ToString("C2")</p>
                    <br />
                    <div class="cartIcons">
                        <a asp-action="Add" asp-controller="Cart" asp-route-id="@item.Id"><i class="fa-solid fa-bag-shopping"></i></a>
                        <a asp-action="Add" asp-controller="WishList" asp-route-id="@item.Id"><i class="fa-solid fa-heart"></i></a>
                    </div>
                </div>    
            }

        </div>
    </div>
</div>

<div class="backgound" id="background">
    <div class="offer" id="offer">
        <div class="small-container">
            <h2 class="title" id="OfferTittle">Exclusive</h2>

            @foreach (var item in ViewData["Exlusive"] as List<Product>)
            {
                if(item.Exclusive == true)
                {
                    <div class="row excluscive">

                        <div class="col-2" id="col-2-position">
                            <img src="~/Images/Products/@item.Image" class="offer-img">
                        </div>

                        <div class="col-2" id="col-2-position-2">
                            <p>Exclusively Available on FlyBuyStore</p>

                            <h1>@item.Name</h1>
                            <h4>@item.Price $</h4>
                            <br>
                             <div class="rating">  
                                @for (int i = 0; i < item.Rating; i++)
                                {
                                    <i class="fa fa-star"></i>
                                }
                            </div>
                            <small>
                               @item.Description
                            </small>
                            <br>
                            <br>
                            <br>
                            <a asp-action="Add" asp-controller="Cart" asp-route-id="@item.Id" class="btn">Order now</a>
                       
                        </div>

                    </div>
                }
                
            }
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            
        </div>
    </div>
</div>

<div class="backgound" id="background">
    <div class="testimonial">
        <div class="small-container">
            <h2 class="title">Ratings</h2>
            <div class="row">

                @foreach (var item in ViewData["Rating"] as List<Rating>)
                {

                    <div class="col-3">
                        <i class="fa fa-quote-left"></i>
                        <p>@Html.DisplayFor(modelItem => item.Description)</p>

                        <div class="rating">
                            @for (var i = 0; i < item.Rate; i++)
                            {
                                <i class="fa fa-star"></i>
                            }
                        </div>
                        <h3>@item.Name</h3>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<div class="email">
    <h2 class="title">Contact </h2>
    <div class="kontakti">
        <div class="kontakti_pjesa2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2996.563225261373!2d19.821690215345004!3d41.31836450823426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135031d53942bf4b%3A0xc29b959022f4c53!2sAir%20Albania%20Stadium!5e0!3m2!1sen!2s!4v1622419139206!5m2!1sen!2s" width="100%" height="auto" style="border:0;" allowfullscreen="" frameborder="0" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="contact-form forma_klasa">
            <h1> Contact Us </h1> 

            <form asp-action="Execute" asp-controller="ContactUs" method="post">

                <input  type="text" class="forma" placeholder="Subject"  autocomplete="on" name="Subject"  required/>

                <input  type="text" class="forma" placeholder="Name"  autocomplete="on" name="Name"  required/>


                <input  type="text" class="forma" placeholder="Email" autocomplete="on" name="Email" required/>


                <textarea  class="form_teksti" placeholder="Message" name="Content" required maxlength="200"></textarea>


                <input type="submit" value="Send" class="forma_butoni" />

            </form> 
        </div>
    </div>
</div>
        
