@model FlyBuy.Models.Product

@{
    ViewData["Title"] = "ProductDetail";
}

<div class="backgound" id="background">
    <div class="small-container singleProduct">
        <div  class="row">
            <div class="col-2">
                <img src="/Images/Products/@Model.Image" width="100%"  />
            </div>
            <div class="col-2">
                <p>Home / @Model.Category.Name</p>
                <h1>@Model.Name</h1>
                <h4>@Model.Price.ToString("C2")</h4> 
                <div class="rating">  
                    @for (int i = 0; i < Model.Rating; i++)
                    {
                        <i class="fa fa-star"></i>
                    }
                </div>
                <form method="post" asp-action="Add" asp-controller="Cart" asp-route-id="@Model.Id">
                    <input type="number" name="quantity" min="0" max="10"/>
                    <input type="submit" name="Amount" value="Buy" class="ProductDetailCart"/>
                </form>
                <h3>Product details <i class="fa fa-indent"></i></h3>
                <br />
                <p>
                    @Model.Description
                </p>
            </div>
        </div>
         <h2 class="title tittleSuggestion">Suggestions</h2>
        <div class="row col-4-img-productDetail">
            @foreach (var item in ViewBag.Suggestion)
            {
                <div class="col-4">
                    <a asp-action="ProductDetail" asp-controller="Home" asp-route-id="@item.Id"><img src="/Images/Products/@item.Image"></a>
                    <h4>@item.Name</h4>
                    <p>@item.Price.ToString("C2")</p>
                    <br />
                   <div class="cartIcons">
                        <a asp-action="Add" asp-controller="Cart" asp-route-id="@item.Id"><i class="fa-solid fa-bag-shopping"></i></a>
                        <a asp-action="Add" asp-controller="WishList" asp-route-id="@item.Id"><i class="fa-solid fa-heart"></i></a>
                    </div>
                </div>    
            }
        </div>
        
    </div>
</div>