@model IEnumerable<FlyBuy.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<div class="body">
    <h2 class="Orders"><a class="btn-form">Orders</a></h2>
     <div class="table-wrapper">
        <table class="fl-table" id="#tabela">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerPhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr id="productCard@(item.Id)">
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        <a id="@item.Id" class="del-btn"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
     </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
$(function() {
    $(".del-btn").click(function () {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this order!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) 
                {
                    var element = $(this);
                    var del_id = element.attr("id");
                    var info = "id=" + del_id;
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Delete")",
                        data: {id : del_id},
                        success: function (data) {
                            if (data) {
                                $("#productCard" + del_id).fadeOut();
                            } else {
                                alert("Order can't be deleted!");
                            }
                        }
                    });
                    swal("Your order has been deleted!", 
                    {
                      icon: "success",
                    });
                } 
                else 
                {
                    swal("Your record is safe!");
                }
            });
            return false;
        });
    });
</script>