@model IEnumerable<FlyBuy.Models.ProductCategory>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.2/dist/sweetalert2.min.css" />

<div class="body">

        <h2 class="tbl-h2"><a id="Add" style="cursor:pointer">Create New</a></h2>

        <div class="table-wrapper">

            <table class="fl-table" id="#tabela">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) 
            {
                    <tr id="productCard@(item.Id)">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a> |
                            <a class="del-btn" id="@item.Id"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>

        </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.15/dist/sweetalert2.all.min.js"></script>
<script>
$(function() 
{
    $("#Add").click(function()
    {
        Swal.fire({
            title: 'New product category',
            html: 
                `<input type="text" id="ProductCategory" class="swal2-input" placeholder="Input product category ....">`,
            confirmButtonText: 'Add',
            focusConfirm: false,
            cancelButtonText: 'Cancel',
            showCancelButton: true,
            preConfirm: () => 
            {
                const productCategory = Swal.getPopup().querySelector('#ProductCategory').value
                if (!productCategory) 
                {
                    Swal.showValidationMessage(`Field cant not be sent empty`)
                }
                return {  productCategory}
            }
        })
        .then((result) => 
        {
            if (result) {
                $.ajax
                ({
                    type: "POST",
                    url: "@Url.Action("Create")",
                    data: {name : result.value.productCategory},
                    success: function (data) {
                        if (data) {
                            swal("Your product category has been added!",
                                {
                                    icon: "success",
                                });
                        } else {
                            alert("Record can't be added!");
                        }
                    }
                });
                    
            }
        })
    });

    $(".del-btn").click(function () {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this product!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) 
                {
                    var element = $(this);
                    var del_id = element.attr("id");
                    var info = "id=" + del_id;
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Delete")",
                        data: {id : del_id},
                        success: function (data) {
                            if (data) {
                                $("#productCard" + del_id).fadeOut();
                            } else {
                                alert("Record can't be deleted!");
                            }
                        }
                    });
                    swal("Your product has been deleted!", 
                    {
                      icon: "success",
                    });
                } 
                else 
                {
                    swal("Your record is safe!");
                }
            });
            return false;
        });
});

</script>
