@model IEnumerable<FlyBuy.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<div class="body bodyTable">
   
    
    <h2 class="tbl-h2">@Html.ActionLink("Create New", "Create", "Products", new { @class = " btn-form" })</h2>
    <div class="table-wrapper">
        
        <table class="fl-table" id="#tabela">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Category.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastUpdated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rating)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AgeCategory)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductCategory.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Exclusive)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr id="productCard@(item.Id)">
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <textarea cols="30" rows="5" readonly style="cursor:default">@item.Description</textarea>
                       @* @Html.DisplayFor(modelItem => item.Description)*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastUpdated)
                    </td>
                    <td>
                        <img src="~/Images/Products/@item.Image" alt="Product_image" width="70px">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AgeCategory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductCategory.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Exclusive)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a> |
                        <a class="del-btn" id="@item.Id"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                }
            <tbody>
        </table>

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(function () {
        $(".del-btn").click(function () {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this product!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) 
                {
                    var element = $(this);
                    var del_id = element.attr("id");
                    var info = "id=" + del_id;
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Delete")",
                        data: {id : del_id},
                        success: function (data) {
                            if (data) {
                                $("#productCard" + del_id).fadeOut();
                            } else {
                                alert("Record can't be deleted!");
                            }
                        }
                    });
                    swal("Your product has been deleted!", 
                    {
                      icon: "success",
                    });
                } 
                else 
                {
                    swal("Your file is safe!");
                }
            });
            return false;
        });
    });
</script>